* {
    box-sizing: border-box;
}

body {
    background: black;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav #menuBars {
    display: none;
}

a {
    color: lightblue;
}

@media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a#menuBars {
        float: right;
        display: block;
    }
}

img {
    width: 9em;
    height: 9em;
    border-radius: 50%;
    border: 3px solid lightblue;
}

div {
    border: 1px solid red;
    color: lightblue;
}