@keyframes links {
    0%   {color: #FFFFFF;}
    50%  {color: #474554;}
    75% {color: #ACA7CB;}
    100%   {color: #FFFFFF;}
}

body {
    background: black;
}

nav {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid grey;
}

a:link {
    text-decoration: none;
    animation-name: links;
    animation-iteration-count: infinite;
    animation-duration: 6s;
}

#box1{
    flex: 1;
}

#box2{
    flex: 3;
    margin: 1em 10em;
}

#box3{
    flex: 3;
}
